body {
  font-family: helvetica, sans-serif;
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 800px;
  max-height: 1200px;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 25px auto;
  position: relative;
  width: 100vw;
}

section:last-of-type {
  flex: 1;
  align-items: flex-start;
}

header,
footer {
  display: flex;
  align-items: center;
  height: 60px;
}

header {
  justify-content: space-between;
  margin: 0 20px;
}

footer {
  justify-content: space-around;
}

#graveyard {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
}

.description {
  color: darkorange;
  position: absolute;
  right: 0;
  top: 50px;
  display: none;
}

#score {
  display: flex;
  align-items: center;
  color: darkred;
  font-size: 20px;
  padding-left: 10px;
}

#value {
  color: darkorange;
  font-size: 45px;
  margin-left: 10px;
}

.tree {
  display: flex;
  justify-content: center;
  border-bottom: 4px solid black;
  height: 300px;
  width: 300px;
  position: relative;
}

.tree__hook {
  border-top: 2px solid black;
  border-left: 2px dotted black;
  height: 25px;
  width: 125px;
  margin-right: 50px;
  position: absolute;
  right: 0;
}

.tree__side {
  border-right: 2px solid black;
  height: 300px;
  width: 200px;
  position: absolute;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 25px;
  margin-left: -25px;
}

.body__head {
  border: 3px solid black;
  border-radius: 30px;
  height: 50px;
  width: 50px;
}

.body__torso {
  border-left: 2px solid black;
  height: 100px;
}

.body__arm {
  height: 60px;
  position: absolute;
  top: 50px;
}

.body__arm-left {
  border-left: 2px solid black;
  transform: rotate(120deg);
  left: 0;
}

.body__arm-right {
  border-right: 2px solid black;
  transform: rotate(60deg);
  right: 0;
}
.body__leg {
  height: 75px;
  position: absolute;
  top: 145px;
}

.body__leg-left {
  border-left: 2px solid black;
  transform: rotate(45deg);
  left: 0;
}

.body__leg-right {
  border-right: 2px solid black;
  transform: rotate(135deg);
  right: 0;
}

#word-input {
  display: flex;
  position: relative;
}

#game-board {
  display: flex;
  flex-flow: row wrap;
}

#text-button {
  height: 25px;
  width: 75px;
}
#text-source {
  text-align: center;
  margin-right: 20px;
}

#game-state {
  font-size: 75px;
  color: red;
  opacity: 0.2;
  position: absolute;
}

.letter-boxes,
.letter-space,
.letter-grave {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 40px;
  width: 40px;
  border: 1px dashed black;
  margin: 0 10px 20px 10px;
}

.letter-space {
  border: none;
  margin: 0;
}

.letter-grave {
  position: relative;
  color: white;
  border-color: white;
  background-color: darkred;
}

/*********MODIFIERS*********/

.letter-grave:hover {
  background: darkorange;
  border-color: white;
  color: white;
}

.letter-grave:hover .description {
  display: block;
}

.flipped {
  background: darkorange;
  border-color: white;
  color: white;
}

.zero {
  display: none;
}
