main {
  display: flex;
  flex-flow: column nowrap;
}


#outer-container {
  border-bottom: 4px solid black;
  width: 300px;
  margin: 50px auto;
}

#tree-top {
  border-top: 2px solid black;
  width: 125px;
  float: right;
  margin-right: 48px;

}

#tree-hook {
  border-right: 2px solid black;
  height: 25px; width: 125px;
}

#inner-container {
  border-right: 2px solid black;
  height: 300px; width: 250px;
}

#head {
  border: 3px solid black;
  border-radius: 30px;
  height: 50px; width: 50px;
}

#body {
  border-left: 4px solid black;
  height: 100px;
}

#left-arm {
  border-left: 3px solid black;
  width: 60px;
}

#right-arm {
  border-right: 3px solid black;
  width: 60px;
}

#left-leg {
  border-left: 3px solid black;
  height: 70px;
}

#right-leg {
  border-right: 3px solid black;
  height: 70px;
}
